<ul>
<% @appearances.each do |appearance| %>
<li> Appearance Guest ID: <%= appearance.guest_id %>
Appearance Rating: <%= appearance.rating %>
User: <%= appearance.user_id %></li> <br>
<% end %>
</ul>
